@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-path-1 {
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }

  .clip-path-2 {
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }

  .text-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    color: transparent;
  }

  .bg-scanlines {
    background: linear-gradient(to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0) 50%,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(0, 0, 0, 0.1));
    background-size: 100% 4px;
  }
}

@keyframes glitch-anim-1 {
  0% {
    transform: translate(0);
    opacity: 0;
  }

  20% {
    transform: translate(-2px, 2px);
    opacity: 0.8;
  }

  40% {
    transform: translate(-2px, -2px);
    opacity: 0;
  }

  60% {
    transform: translate(2px, 2px);
    opacity: 0.8;
  }

  80% {
    transform: translate(2px, -2px);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 0;
  }
}

@keyframes glitch-anim-2 {
  0% {
    transform: translate(0);
    opacity: 0;
  }

  20% {
    transform: translate(2px, -2px);
    opacity: 0;
  }

  40% {
    transform: translate(2px, 2px);
    opacity: 0.8;
  }

  60% {
    transform: translate(-2px, -2px);
    opacity: 0;
  }

  80% {
    transform: translate(-2px, 2px);
    opacity: 0.8;
  }

  100% {
    transform: translate(0);
    opacity: 0;
  }
}

.animate-glitch-1 {
  animation: glitch-anim-1 3s infinite linear alternate-reverse;
}

.animate-glitch-2 {
  animation: glitch-anim-2 2.5s infinite linear alternate-reverse;
}